In [1]:
from IPython.display import display, HTML
from bs4 import BeautifulSoup
import pandas as pd
import json
import requests
from sqlalchemy import create_engine
from IPython.display import Image

pd.options.display.max_rows = 10
# pd.options.display.max_columns = 25

In [4]:
myQuery = '''
SELECT * FROM articles
'''

db_name = 'ptt_nba.db'
url = 'sqlite:///%s'%(db_name)

engine = create_engine(url)

df_articles = pd.read_sql_query(myQuery, engine)

df_articles.head()

,id,push,title,href,author,date
0,1554601416,爆,[公告] 季後賽期間條款,www.ptt.cc/bbs/NBA/M.1554601416.A.281.html,namie810303,2019-04-07
1,1555062827,88,[情報] Playoff Schedule 18–19,www.ptt.cc/bbs/NBA/M.1555062827.A.F70.html,JerroLi,2019-04-12
2,1558698194,None,[公告] 板規v6.4,www.ptt.cc/bbs/NBA/M.1558698194.A.1DC.html,Vedan,2019-05-24
3,1559968467,52,[公告] NBA 板 開始舉辦樂透!,www.ptt.cc/bbs/NBA/M.1559968467.A.5E5.html,Vedan,2019-06-08
4,1559977882,64,[新聞] 勇士陷入背水一戰 柯瑞:還沒有結束,www.ptt.cc/bbs/NBA/M.1559977882.A.902.html,fack3170,2019-06-08

In [5]:
myQuery = '''
SELECT * FROM pushs
'''

db_name = 'ptt_nba.db'
url = 'sqlite:///%s'%(db_name)

engine = create_engine(url)

df_pushs = pd.read_sql_query(myQuery, engine)

df_pushs.head()

,id,article_id,push,user,content,datetime
0,1,1560006190,推,RazaviSmith,我也覺得勇士會拿下G5,2019-06-08 23:03:00.000000
1,2,1560006190,推,KBmamba,我也覺得4-1結束太早,2019-06-08 23:03:00.000000
2,3,1560006190,推,bolide77,勇士已經五星可以上場了 磨合完就三連霸,2019-06-08 23:04:00.000000
3,4,1560006190,推,Fugacious,暴龍下場真的危險，聯盟會卯起來吹,2019-06-08 23:04:00.000000
4,5,1560006190,推,OGCOGCOGCOGC,頂多下場浪花爆發再偷到一勝吧 肯定沒G7~,2019-06-08 23:05:00.000000